@import 'styles.less';

.smooth-animation {
  transition: all 300ms ease-in-out;
}

@smooth: all 300ms ease-in-out;

:root {
  --track-bg-color: #7CCDF0;
  --track-bg-color-focus: #2DB7F2;
  --track-width: 100%;
  --track-width: 100%;
  --track-height: 24px;
  --track-cursor: pointer;
  --track-border-radius: 12px;

  --thumb-border: 0 solid white;
  --thumb-shadow: 0 0 1px 2px rgba(51, 51, 51, 0.25);
  --thumb-border-radius: 100%;
  --thumb-size: 44px;
  --thumb-bg: white;
  --thumb-align: -12px;
}

label {
  margin-bottom: 8px;
  font-size: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .no-select();
  
  strong {
    font-family: Tofino;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  }

  code {
    font-family: Tofino;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
  }

  &,
  & ~ input[type='range'] {
    width: 320px;
  }

  & ~ input[type='range'] {
    width: 320px;
    -webkit-appearance: none;
    margin: 8px 0 24px;

    /* ## Webkit ########### */

    // Track 
    &::-webkit-slider-runnable-track {
      .track();
      -webkit-appearance: none;
    }

    // Thumb
    &::-webkit-slider-thumb {
      .thumb();
      -webkit-appearance: none;
    }

    /* ## Firefox ############# */

    // Track
    &::-moz-range-track {
      .track();
    }

    // Thumb
    &::-moz-range-thumb {
      .thumb();
    }

    &:focus {
      outline: none;

      /* ## Webkit ########### */

      // Track
      &::-webkit-slider-runnable-track {
        .track-focus();
      }

      // Thumb
      &::-webkit-slider-thumb {
        .thumb-focus();
      }

      /* ## Firefox ############# */

      // Track
      &::-moz-range-track {
        .track-focus();
      }

      // Thumb
      &::-moz-range-thumb {
        .thumb-focus();
      }
    }
  }
}

// Track

.track {
  .smooth-animation();
  width: var(--track-width);
  height: var(--track-height);
  cursor: var(--track-cursor);
  background: var(--track-bg-color);
  background-image: -webkit-linear-gradient(var(--bg-gradient));
  border-radius: var(--track-border-radius);
  box-shadow: var(--thumb-shadow);
}

.track-focus {
  background: var(--track-bg-color-focus);
  background-image: -webkit-linear-gradient(var(--bg-gradient));
}

.thumb {
  transition: background 100ms ease, 
              border-width 200ms ease;
  box-shadow: var(--thumb-shadow);
  border: var(--thumb-border);
  height: var(--thumb-size);
  width: var(--thumb-size);
  border-radius: var(--thumb-border-radius);
  background: var(--thumb-sel, var(--thumb-bg, white));
  cursor: var(--track-cursor);
  margin-top: var(--thumb-align);
  box-sizing: border-box;
}

.thumb-focus {
  background: var(--thumb-sel-focus, var(--thumb-sel, white));
  border: 8px solid white;
}

/* ++++++++++++++++++++++ */
/* Windows */
/* ++++++++++++++++++++++ */

// input[type='range']::-ms-track {
//   width: 100%;
//   height: 8.4px;
//   cursor: pointer;
//   background: transparent;
//   border-color: transparent;
//   border-width: 16px 0;
//   color: transparent;
// }

// input[type='range']::-ms-fill-lower {
//   background: var(--thumb-bg);
//   border: var(--thumb-border);
//   border-radius: var(--thumb-border-radius);
// }

// input[type='range']::-ms-fill-upper {
//   background: var(--thumb-bg);
//   border: var(--thumb-border);
//   border-radius: var(--thumb-border-radius);
// }

// input[type='range']:focus::-ms-fill-lower {
//   background: var(--thumb-bg);
// }

// input[type='range']:focus::-ms-fill-upper {
//   background: var(--thumb-bg);
// }

// input[type='range']::-ms-thumb {
//   border: var(--thumb-border);
//   height: var(--thumb-size);
//   width: var(--thumb-size);
//   border-radius: var(--thumb-border-radius);
//   background: var(--thumb-bg);
//   cursor: var(--track-cursor);
// }